<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :fuel_limit,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "fuel_limit" }%>
    <%= f.input :present_fuel_content,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "present_fuel_content" }%>
    <%= f.input :fuel_needed,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "fuel_needed" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :comment,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "comment" }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
