<div id="<%= dom_id information_form %>">
  <p>
    <strong>Name:</strong>
    <%= information_form.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= information_form.address %>
  </p>

  <p>
    <strong>Email Address:</strong>
    <%= information_form.email_address %>
  </p>

  <p>
    <strong>Fuel Capacityin litres:</strong>
    <%= information_form.fuel_capacity %>
  </p>

  <p>
    <strong>Current Fuel Content in litres:</strong>
    <%= information_form.current_fuel_content %>
  </p>

  <p>
    <strong>Fuel Needed in litres:</strong>
    <%= information_forms.fuel_needed %>
  </p>

  <p>
    <strong>Instructions for Delivery:</strong>
    <%= information_form.instructions_for_delivery %>
  </p>

</div>
