<div id="<%= dom_id dashboard_form %>">
  <p>
    <strong>Company name:</strong>
    <%= dashboard_form.company_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= dashboard_form.address %>
  </p>

  <p>
    <strong>Pounds per litre:</strong>
    <%= dashboard_form.pounds_per_litre %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= dashboard_form.comment %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= dashboard_form.rating %>
  </p>

</div>
