<p style="color: green"><%= notice %></p>

<%= render @dashboard_form %>

<div>
  <%= link_to "Edit this company", edit_dashboard_form_path(@dashboard_form) %> |
  <%= link_to "Back to company list", dashboard_forms_path %>

  <%= button_to "Destroy this company file", @dashboard_form, method: :delete %>
</div>
